<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Freemed-EMR</title>
    <link href="/vscode.ico" rel="shortcut icon">
    <link href="/dist/app.css" rel="stylesheet">
    <script src="/dist/loader.bundle.js"></script>
</head>

<body>

<header class="headerLoad"></header>

<section class="ui container" style="margin-top:55px">
    <div class="ui grid">
        <div class="left floated six wide column" style="margin-left:.1%">
            <h1>본진</h1>
        </div>

        <div>
            <button class="huge negative ui button diagnosisWaitings">대기환자 목록</button>
        </div>
    </div>

    <div class="ui clearing divider"></div>

    <div class="ui form container">
      <button id="getPastCC" class="ui primary button" style="float: right;" disabled>과거 진료 기록</button>
      <div class="ui clearing divider" style="border-top : 0px;"></div>

        <form id="chartForm" class="ui segment">
            <div class="two fields">
                <div class="field">
                    <label>CHART ID</label>
                    <input type="text" id="preChartId" style="border-color: #fc0a0e; background: #fcf4f1" disabled>
                </div>

                <div class="field">
                    <label>NAME</label>
                    <input type="text" id="preName" style="border-color: #fc0a0e; background: #fcf4f1" disabled>
                </div>
            </div>

            <div class="field">
                <label>Impression</label>
                <textarea name="impression" rows="5"></textarea>
            </div>

            <div class="field">
                <label>Present illness / Medication</label>
                <textarea name="impression" rows="3"></textarea>
            </div>
        </form>

        <div class="ui segment">
            <button id="pharmacopoeia" class="ui primary button" style="float: right;">약전</button>
            <h3 class="ui dividing header">처방</scan></h3>

            <table class="ui celled table" style="text-align:center;">

                <thead>
                  <tr>
                    <th>약품명</th>
                    <th>성분명 / 함량</th>
                    <th width="10%">1회 투약량</th>
                    <th width="10%">1일 복용횟수</th>
                    <th width="10%">복용일수</th>
                    <th>비고</th>
                    <th width="7%">기타</th>
                  </tr>
                  <!-- <tr>
                    <th colspan="2">
                      <div class="inline fields">
                      <select style="width:20%; height:38px;">
                          <option>성분명</option>
                          <option>약품명</option>
                      </select>
                      <input style="margin : 0 1% 0 1%" />
                      <button style="width:15%; height:38px;">검색</button>
                      <span>
                    </th>
                    <th>1회 투약량</th>
                    <th>1일 복용횟수</th>
                    <th>복용일수</th>
                    <th>비고</th>
                    <th>기타</th>
                  </tr> -->
              </thead>
                <tbody>
                  <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                      <i class="configure icon"></i>
                      <i class="trash icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                      <i class="configure icon"></i>
                      <i class="trash icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                      <i class="configure icon"></i>
                      <i class="trash icon"></i>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui form container" style="margin-top: 1%">
        <div class="ui segment">
            <label>Treatment note / Medication</label>
            <textarea name="impression" rows="5"></textarea>
        </div>
    </div>

    <div class="ui grid" style="margin-top: 1%">
        <div class="left floated six wide column" style="margin-left:.1%"></div>

        <div>
            <button id="doctorSignedComplete" class="huge negative ui button"> 처방하기 </button>
        </div>
    </div>



</section>

<div class="ui longer modal">

    <div class="ui two item stackable tabs menu">
        <a class="item waitingTab" data-tab="waitings">대기 환자</a>
        <a class="item completeTab" data-tab="complete">완료 환자</a>
    </div>

    <div class="scrolling content">
        <table class="ui fixed celled table">
            <thead>
                <tr>
                    <th>차트 번호</th>
                    <th>이름</th>
                    <th>생년월일</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr>
                    <td>[Server Error - waitings table load fail]</td>
                    <td>EMR 서버에 문제가 있습니다.</td>
                    <td>IT본부 단원을 찾으세요</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/dist/app.bundle.js"></script>
</body>

</html>
<script>


</script>
