<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Freemed-EMR</title>
    <link href="/vscode.ico" rel="shortcut icon">
    <link href="/dist/app.css" rel="stylesheet"> 
    <script src="/dist/loader.bundle.js"></script>
</head>

<body>

    <header class="headerLoad"></header>

    <section class="ui container" style="margin-top:55px">
        <div class="ui grid">
            <div class="left floated six wide column" style="margin-left:.1%">
                <h1>접수</h1>
            </div>

            <span>
               <div class="ui input focus">
                   <input id="nameInput" type="text" placeholder="Search...">
                </div>

                <button id="btn-name-send" class="ui secondary button">
                    검색
                </button>
            </span>
        </div>

        <div id="message" class="ui positive message" hidden>
            <i class="close icon"></i>
            <p id="nameMessage"></p>
        </div>

        <div class="ui clearing divider"></div>

        <form id="patient_form" class="ui form container">
            <div class="ui segment">
                <h3 class="ui dividing header">기본 신상</h3>
                <div class="field">
                    <label>첫 방문일</label>
                    <div class="field">
                        <input type="text" id="firstcome" name="firstcome" readonly>
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label>이름</label>
                        <input type="text" id="name" name="name" placeholder="이름을 입력하세요.">
                    </div>

                    <div class="field">
                        <label>성별</label>
                        <select id="gender" name="gender" class="ui dropdown">
                            <option value="">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>생년월일</label>
                        <input type="date" id="birth" name="birth" placeholder="생년월일을 입력하세요.">
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label>신장</label>
                        <div class="ui right labeled input">
                        <input type="text" id="height" name="height">
                        <a  class="ui label">cm</a>
                        </div>
                    </div>

                    <div class="field">
                        <label>체중</label>
                        <div class="ui right labeled input">
                            <input type="text" id="weight" name="weight">
                            <a  class="ui label">kg</a>
                        </div>
                    </div>

                    <div class="field">
                        <label>BMI</label>
                        <div class="ui right labeled input">
                            <input type="text" id="bmi" name="bmi">
                            <a  class="ui label">체중/키^2</a>
                        </div>
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label>흡연량</label>
                        <div class="ui right labeled input">
                            <input type="text" name="smoke" placeholder="하루 평균 흡연량을 입력하세요">
                            <a  class="ui label">갑</a>
                        </div>
                    </div>

                    <div class="field">
                        <label>음주량</label>
                        <div class="ui right labeled input">
                            <input type="text" name="alcohol" placeholder="1주일 평균 음주량을 입력하세요">
                            <a  class="ui label">병</a>
                        </div>
                    </div>
                </div>
            </div>







            <div class="ui segment">
                <h3 class="ui dividing header">과거력</h3>
                <div class="field">
                    <label>Card Type</label>
                    <select name="disease" multiple="" class="ui fluid dropdown">
                        <option value="">병명</option>
                        <option value="high">고혈압</option>
                        <option value="angular">당뇨</option>
                        <option value="css">A형 간염</option>
                        <option value="design">B형 간염</option>
                        <option value="ember">C형 간염</option>
                        <option value="html">결핵</option>
                        <option value="ia">심질환</option>
                        <option value="javascript">신장질환</option>
                        <option value="mech">종양</option>
                        <option value="meteor">감염성 질환</option>
                        <option value="node">성병</option>
                    </select>
                </div>
                <div class="fields">
                    <div class="seven wide field">
                        <label>Card Number</label>
                        <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                    </div>
                    <div class="three wide field">
                        <label>CVC</label>
                        <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                    </div>
                    <div class="six wide field">
                        <label>Expiration</label>
                        <div class="two fields">
                            <div class="field">
                                <select class="ui fluid search dropdown" name="card[expire-month]">
                                    <option value="">Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="field">
                                <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui segment">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="gift" tabindex="0" class="hidden">
                            <label>Do not include a receipt in the package</label>
                        </div>
                    </div>
                </div>
               <!-- <div class="ui button" tabindex="0">Submit Order</div>-->
            </div>


            <input type="submit" class="ui button">

        </form>
    </section>

    <div class="ui basic modal">
        <div class="header" align="middle">
            <p>동명이인이 존재합니다. &nbsp (생년월일을 확인해주세요.)</p>
        </div>

        <div class="content">
            <div class="ui inverted segment">
                <div id="list" class="ui inverted relaxed divided list">

                </div>
            </div>
        </div>

        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="remove icon"></i>
                close
            </div>
        </div>
    </div>

    <script src="/dist/app.bundle.js"></script>
</body>

</html>

 