<header>
    <nav>
        <div class="ui borderless main menu">
            <div class="ui container">
                <a href="/index.html" class="header item">
                    <img class="logo" src="/resources/img/logo.png">
                </a>
                <a href="/views/receipt.html" class="item">접수</a>
                <a href="/views/ocs.html" class="item">OCS</a>
                <a href="/views/prediagnosis.html" class="item">예진</a>
                <a href="/views/prescription.html" class="item">본진</a>
                <a href="/views/pharmacy.html" class="item">약국</a>
                <a href="/views/management.html" class="item">약국 재고 관리</a>
                <a href="/views/management.html" class="ui right floated item">로그아웃</a>

            </div>
    </nav>
</header>
